<div  class="container"  style=" justify-content:center;">
                     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon" style="width: 300px;">
                     </div>
                     <div [hidden]="!show" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
                         <div class="featurecontant">
                             <h1>{{Cars.name}}</h1>
                             <h2><img src="/assets/image/{{Cars.url}}" style="width: 240px; height: 300px;"/></h2>
                             <p>{{Cars.immatriculation}}<br>
                                 {{Cars.puissance}} <br>
                                 {{Cars.kilometrage}} <br>
                                 {{Cars.annee}}
                                       </p>
                              <h2 style="color: white;">{{Cars.prix}} &euro;</h2>
                              <button (click)="sendNotifDisrement()">-</button>
                              <button (click)="sendNotifIncrement()">+</button>
                              <h2 style="color: white;">{{Cars.quantity}}</h2>

                             
                             
                         </div>
                </div>