

    <div id="dropDownSelect1"></div>
    <div class="wrapper" style="background-image: url('assets/images/bmw.jpg');">
        <div class="inner">
            <div class="image-holder">
                <img src="assets/images/bg-01.jpg" alt="">
            </div>
                
            <form #f="ngForm" >
                <h3>Account login</h3>
                <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
                    <input type="text" placeholder="First Name" class="form-control" name="firstName" placeholder="User name" [(ngModel)]="Infos.username"  #u1="ngModel" required >
                    <div class="alert alert-danger" *ngIf="u1.touched && u1.errors?.required">Vous devez insérer un username</div>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password">
                    <input type="password" placeholder="Password" class="form-control" name="password" [(ngModel)]="Infos.password" #p2="ngModel" required>
                    <div class="alert alert-danger" *ngIf="p2.touched && p2.errors?.required">Vous devez insérer un password</div>
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" (click)="check(u1.value,p2.value)" [disabled]="f.invalid">
                        Sign in
                    </button>
                    <h4 style="padding-top: 10px;margin-left: 147px;">Or</h4>
                    <button (click)="submitLogin()" type="button" class="btn btn-primary btn-lg btn-block my-4">
                        Connect with facebook
                    </button>
                    <h4 style="padding-top: 10px;margin-left: 90px;color:goldenrod">Not a member ?</h4>
                    <button class="login100-form-btn"  style="color: goldenrod;" (click)="signup()" >
                        Sign up
                    </button>
                    <div style="padding-left: 55px;padding-top: 20px;color: rgb(197, 0, 0);">{{msg}}</div>
                </div>
            </form>
        </div>
    </div>
<router-outlet></router-outlet>

