<div class="allcontain">
	<div class="header">
			
			<ul class="souklekraheb" >
				<li>SOUK-LEKRAHEB</li>
			</ul>
			
    </div>

	<!-- Navbar Up -->
	<nav class="topnavbar navbar-default topnav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
					<span class="sr-only"> Toggle navigaion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>	 
		</div>
		<div class="collapse navbar-collapse" id="upmenu">
			<ul class="nav navbar-nav" id="navbarontop">
				<li class="active"><a href="#" routerLink="/welcome">HOME</a> </li>
				<li>
					<a href="#" routerLink="/view">VIEW PRODUCTS</a>
				</li>
				<li>
					<a routerLink="/post">POST A NEW CAR</a>
				</li>
				<li>
					<a routerLink="/listofusers">VIEW USERS</a>
 
				</li>
				
			</ul>
		</div>
	</nav>
</div>
<input #query (keyup)="search(query.value)" type="text" class="form-control" placeholder="Search...">
<div *ngFor="let i of searchUser">
<div class="container mt-3 mb-4">
    <div class="col-lg-9 mt-4 mt-lg-0">
        <div class="row">
          <div class="col-md-12">
            <div class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm">
              <table class="table manage-candidates-top mb-0">
                <thead>
                  <tr>
                    <th>User</th>
                    <th class="text-center">Email</th>
                    <th class="action text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="candidates-list">
                    <td class="title">
                      <div class="thumb">
                        <img class="img-fluid" style="margin-right: 50px;" src="/assets/image/{{i.url}}" alt="">
                      </div>
                      <div class="candidate-list-details">
                        <div class="candidate-list-info">
                          <div class="candidate-list-title">
                            <h5 class="mb-0"><a href="#">{{i.firstName}} {{i.lastName}}</a></h5>
                          </div>
                          <div class="candidate-list-option">
                            <ul class="list-unstyled">
                              <li>CIN : {{i.cin}}</li>
                              <li>PASSWORD : {{i.password}}</li>
                              <li>{{msg}}</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="candidate-list-favourite-time text-center">
                      <a class="candidate-list-favourite order-2 text-danger" href="#"></a>
                      <span class="candidate-list-time order-1">{{i.emailAdress}}</span>
                    </td>
                    <td>
                      <ul class="list-unstyled mb-0 d-flex justify-content-end">
                        <button class="btn btn-dark" style="margin-left: 90px;width: min-content;" (click)="delete(i)">DELETE <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-folder-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M9.828 4H2.19a1 1 0 0 0-.996 1.09l.637 7a1 1 0 0 0 .995.91H9v1H2.826a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3h3.982a2 2 0 0 1 1.992 2.181L15.546 8H14.54l.265-2.91A1 1 0 0 0 13.81 4H9.828zm-2.95-1.707L7.587 3H2.19c-.24 0-.47.042-.684.12L1.5 2.98a1 1 0 0 1 1-.98h3.672a1 1 0 0 1 .707.293z"/>
                            <path fill-rule="evenodd" d="M11.146 10.146a.5.5 0 0 1 .708 0L13 11.293l1.146-1.147a.5.5 0 0 1 .708.708L13.707 12l1.147 1.146a.5.5 0 0 1-.708.708L13 12.707l-1.146 1.147a.5.5 0 0 1-.708-.708L12.293 12l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                          </svg></button>
                          <button (click)="chbih()">STATUS</button>
                      </ul>
                    </td>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
