<div class="allcontain">
	<div class="header">
			
			<ul class="souklekraheb" >
				<li>SOUK-LEKRAHEB</li>
			</ul>
			
	</div>
	<!-- Navbar Up -->
	<nav class="topnavbar navbar-default topnav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
					<span class="sr-only"> Toggle navigaion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
			</div>	 
		</div>
		<div class="collapse navbar-collapse" id="upmenu">
			<ul class="nav navbar-nav" id="navbarontop">
				<li class="active"><a href="#" routerLink="/welcome">HOME</a> </li>
				<li>
					<a routerLink="/viewuser">VIEW PRODUCTS</a>
				</li>
				<li>
					<a routerLink="/postuser">POST A NEW CAR</a>
				</li>
				<li>
					<a >CONTACT</a>
 
				</li>
				
			</ul>
		</div>
	</nav>
</div>
<input type="text" placeholder="" class="form-control" name="carname" [(ngModel)]="c.name" #cc="ngModel">
<div class="wrapper" style="background-image: url('assets/images/background.jpg');">
    <div class="inner">
        <div class="image-holder">
            <img src="assets/images/key.jpg" alt="">
        </div>
            
        <form [formGroup]="myForm">
            <h3>TYPE YOUR INFORMATIONS</h3>
            <div class="form-group">
                <input type="text" placeholder="username" class="form-control" name="username" formControlName="username" [(ngModel)]="Buyer.username" >
                
            </div> 
                <div>
            <div class="alert alert-danger" *ngIf="usernameUser.touched && usernameUser.invalid"> Vous devez insérer un username</div>
                </div>
                <div class="form-wrapper">
                    <input type="text" placeholder="Carte Bancaire" class="form-control" name="carte" formControlName="carte" [(ngModel)]="Buyer.carte" >
                        <div class="alert alert-danger" *ngIf="carteUser.touched && carteUser.errors?.required">Vous devez insérer le numéro de votre carte</div>
                    <i class="zmdi zmdi-account"></i>
                </div>
            <div class="form-wrapper">
                <input type="text" placeholder="C.i.n" class="form-control" name="cin" formControlName="cin" [(ngModel)]="Buyer.cin" >
                    <div class="alert alert-danger" *ngIf="cinUser.touched && cinUser.errors?.required">Numéro obligatoire</div>
                    <div class="alert alert-danger" *ngIf="cinUser.errors?.pattern">Le numéro de la carte doit comporter 8 chiffres</div>
                <i class="zmdi zmdi-account"></i>
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="Email Address" class="form-control" name="emailAdress" formControlName="emailAdress" [(ngModel)]="Buyer.emailAdress" >
                <div class="alert alert-danger" *ngIf="emailAdressUser.touched && emailAdressUser.errors?.required">Email obligatoire</div>
            <div class="alert alert-danger" *ngIf="emailAdressUser.errors?.pattern">Vérifiez le formatdevotre e-mail</div>
                <i class="zmdi zmdi-email"></i>
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="Adresse" class="form-control" name="adresse" formControlName="adresse" [(ngModel)]="Buyer.adresse" >
                <div class="alert alert-danger" *ngIf="adresseUser.touched && adresseUser.invalid">Vous devez insérer votre adresse</div>
                <i class="zmdi zmdi-lock"></i>
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="Ville" class="form-control" name="ville" formControlName="ville" [(ngModel)]="Buyer.ville" >
                <div class="alert alert-danger" *ngIf="villeUser.touched && villeUser.invalid">Vous devez insérer votre ville</div>
                <i class="zmdi zmdi-lock"></i>
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="Travail" class="form-control" name="travail" formControlName="travail" [(ngModel)]="Buyer.Travail" >
                <div class="alert alert-danger" *ngIf="travailUser.touched && travailUser.invalid">Vous devez insérer le nom de votre travail </div>
                <i class="zmdi zmdi-lock"></i>
            </div>
            <button  (click)="Register()">Register
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
    </div>
</div>
<router-outlet></router-outlet>