.footer {
    background-color: #101111;
    padding: 1%;
  }
  .footer p {
    padding: 2%;
  }
  .btn {
    transition-duration: 0.4s;
  }
  
  .btn:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }