<div  class="container"  style="display: flex; flex-wrap: wrap; justify-content: space-around;">
  
                     <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img1colon" style="width: 300px;">
                        
                     </div>
                     <div [hidden]="!show" class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
                         <div class="featurecontant">
                             <h1>{{Cars.name}}</h1>
                             <h2><img src="/assets/image/{{Cars.url}}" style="width: 240px; height: 300px;"/></h2>
                             <p>{{Cars.immatriculation}}<br>
                                 {{Cars.puissance}} <br>
                                 {{Cars.kilometrage}} <br>
                                 {{Cars.annee}}
                                       </p>
                              <h2>{{Cars.prix}} &euro;</h2>

                              <button (click)="sendNotifDisrement()">-</button>
                              <h2>{{Cars.quantity}}</h2>
                              <button (click)="sendNotifIncrement()">+</button>


                              <button id="btnRM" onclick="rmtxt()">BUY</button>
                              <button id="btnRM">SEE FULL LIST</button>
                             
                         </div>
                     </div>
                </div>
